nav {
    div:first-child img {
        height: 50px;
    }

    display: flex;
    justify-content: space-between;
    li {
        display: inline-block;
        padding: 0 20px;
    }
    padding: 16px 0;
    border-bottom: 1px solid black;

    div:last-child {
        display: flex;

        button {
            background-color: white;
            border: 1px solid #30488F;
            color: #30488F;
            &:hover {
                background-color: #30488F;
                border: 1px solid #30488F;
                color: white;
            }
        }
    }

    #dropdown {
        li:first-child {
            position: relative;
        }
        &:hover #drop {
            display: block;
        }
    }

    #drop {
        display: none;
        background-color: white;
        box-shadow: 1px 1px 8px 1px lightgray;
        border: $bordo-g;
        border-radius: 5px;
        line-height: 38px;
        position: absolute;
        left: 0;
        top: 20px;

        li > a:hover {
            color: red;
        }
    }
}