nav {
    display: flex;
    justify-content: space-between;
    li {
        display: inline-block;
        padding: 0 20px;
    }
    padding: 16px 0;
    border-bottom: 1px solid black;

    div:last-child {
        display: flex;

        button {
            background-color: white;
            border: 1px solid #30488F;
            color: #30488F;
            &:hover {
                background-color: #30488F;
                border: 1px solid #30488F;
                color: white;
            }
        }
    }
}