#sezione-3 {
    background-color: $sfondo;
    color: $testo-sfondo;
    text-align: center;

    h1 {
        color: $testo-sfondo;
        padding-top: 80px;
        font-size: 36px;
        line-height: 60px;
    }

    #paragrafo-bianco {
        color: black;
        border: $bordo-g;
        border-radius: 8px;
        background-color: $bianco;
        max-width: 600px;
        margin: 50px auto;
        padding: 20px 30px;
        text-align: left;
        line-height: 27px;
        position: relative;

        #virgolette {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-50%);

            i {
                font-size: 40px;
                color: black;
            }
        }

        img {
            width: 40px;
            margin-right: 7px;
        }

        #face {
            margin-top: 27px;
            display: inline-flex;
            & > div:last-child {
                line-height: 20px;
                margin-left: 10px;
                font-size: 15px;
                display: block;
            }
        }
    }

    span {
        margin: 0 20px;
    }

    button {
        @include bottone-social;


        p {
            display: inline-block;
            color: $bianco;
        }
    }

    & > div:last-child {
        padding: 30px 0 50px 0;
        
        a {
            color: $testo-sfondo;
        }
    }
}