#sezione-2 {
    i {
        font-size: 18px;
        color: #263972;
        font-weight: bold;
    }

    .box {
        display: flex;
        margin: 100px 50px;
        .box-img {
            width: 50%;

            img {
                width: 750px;
            }
        }
        .box-testo {
            width: 25%;
            margin: 0 30px;

            img {
                width: 280px;
            }
        }
    }

    .due, .quattro {
        justify-content: end;
    }
}