@mixin bottone-social {
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    display: inline-flex;
    vertical-align: middle;

    &:hover {
        background-color: #233569;
    }

    img {
        margin-right: 6px;
        width: 18px;
    }
}

// variabili bordo
$bordo-g: 1px solid #BDB5AF;

// variabili colori
$sfondo: #7F14D4;
$testo-sfondo: white;
$bianco: white;