// importazioni
@import 'partials/_variables';
@import 'partials/_common';
@import "partials/_nav";
@import "partials/_header";
@import "partials/_main";
@import "partials/_footer";

// proprietá generali
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// proprietá selettive
.container {
    width: 1200px;
    height: 400px;
    background-image: url(img/review.jpg);
}