// importazioni
@import 'partials/_variables';
@import 'partials/_common';
@import "partials/_nav";
@import "partials/_header";
@import "partials/_section-1";
@import "partials/_section-2";
@import "partials/_section-3";
@import "partials/_footer";

// proprietá generali
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #58402C;

    a {
        text-decoration: none;
        color: #273A73;
    }
}

// proprietá selettive
.flex {
    display: flex;
    justify-content: space-between;
    
    img {
        height: 120px;
    }
}